#postgres configuration
#---- Configure according to your settings
DB_NAME=url_monitor_db
DB_USER=url_monitor_user
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432

#redis configuration
REDIS_URL=redis://localhost:6379/0

#Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0